:root {
    --primary-color: #7c3aed;
    --primary-dark: #5b21b6;
    --dark-bg: #0f0f15;
    --darker-bg: #09090e;
    --card-bg: #171723;
    --card-border: #2a2a3a;
    --text-color: #f0f0f5;
    --text-muted: #89898a;
    --accent-color: #000000;
}

.slider-wrapper {
    width: 100%;
}

/* Контейнер слайдера */
.swiper-faq-container {
    position: relative;
    overflow: hidden;
    padding: 20px 0 50px;
    width: 100%;
    background: rgba(36, 36, 36, 0.2);
    outline: 1px dotted #a2a2a2;
}

/* Swiper */
.swiper {
    width: 100%;
    padding: 20px 0 40px;
}

.swiper-wrapper {
    box-sizing: border-box;
}

.swiper-slide {
    height: auto;
    display: flex;
}

/* Прогресс-бар Swiper */
.swiper-pagination {
    position: relative;
    bottom: auto;
    top: auto;
    margin-top: 30px;
}

.swiper-pagination-progressbar {
    background: rgba(255, 255, 255, 0.08);
    height: 4px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.swiper-pagination-progressbar-fill {
    background: #c4c4c4 !important;
}

/* Стили для карточек FAQ */
.faq-service-card {
    background: var(--bg-card);
    padding: 35px 32px;
    position: relative;
    transition: border-color 0.3s, box-shadow 0.3s, transform 0.3s;
    width: 100%;
    height: 100%;
}

.swiper-slide:hover .faq-service-card {
    outline: 1px solid #1cfff2;
    /*box-shadow: 0 0 20px rgba(28, 255, 242, 0.2);*/
    /*transform: scale(1.05);*/
}

.faq-service-index {
    font-family: var(--font-heading);
    font-size: clamp(12px, 4vw, 38px);
    margin-bottom: 10px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.17);
    transition: color 0.3s, text-shadow 0.3s;
}

.swiper-slide:hover .faq-service-index {
    color: #1cfff2;
    text-shadow: 0 0 8px rgba(28, 255, 242, 0.57);
}

.faq-service-name {
    font-family: "Tektur", sans-serif;
    font-size: clamp(11px, 1vw, 16px);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #cecece;
    margin-bottom: 12px;
}

.faq-service-desc {
    font-size: clamp(11px, 1vw, 14px);
    color: #8e8e8e;
    line-height: 1.7;
    margin-bottom: 0;
}

.faq-service-tag {
    position: absolute;
    top: -8px;
    right: 10px;
    margin-top: 20px;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--accent-cyan);
    border: 1px solid rgba(0, 240, 255, 0.2);
    padding: 4px 10px;
    background: var(--bg-card);
}

/* Анимация появления */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.swiper-faq-container {
    animation: fadeIn 0.8s ease-out forwards;
}
