@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Orbitron:wght@400..900&family=Russo+One&family=Tektur:wght@400..900&display=swap");

/*.font-tektur {*/
/*     font-family: "Tektur", sans-serif;*/
/*     font-optical-sizing: auto;*/
/*     font-weight: <weight>; // 400 to 900*/
/*     font-style: normal;*/
/*     font-variation-settings:*/
/*         "wdth" 100;*/
/* }*/
/*.font-orbitron {*/
/*   font-family: "Orbitron", sans-serif;*/
/*   font-optical-sizing: auto;*/
/*   font-weight: <weight>; // 400 to 900*/
/*   font-style: normal;*/
/*}*/
/*.font-russo-one-regular {*/
/*    font-family: "Russo One", sans-serif;*/
/*    font-weight: 400;*/
/*    font-style: normal;*/
/*}*/
/*.font-jura {*/
/*   font-family: "Jura", sans-serif;*/
/*   font-optical-sizing: auto;*/
/*   font-weight: <weight>;*/
/*   font-style: normal;*/
/*}*/

.font-tektur {
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.font-orbitron {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    word-spacing: 0.5em;
}
.font-orbitron-slim {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    word-spacing: 0.5em;
}

