
/* =================== OLD ==================*/
.site-header {
    background:#000;
    border-bottom: 1px solid #1c3217;
    box-shadow: 0 10px 10px rgba(0,0,0,1);
}
.header-monitor {
    display: flex;
    align-items: center;      /* вертикаль */
    justify-content: center;  /* горизонталь */
    height: 100%;             /* или конкретная высота */
}
