.matrix-wrapper {
    position: relative;
}
.matrix {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    border-right:  1px dotted #6b6b6b;
    padding: 2px;
    width: 40px;
}
.matrix-pos-tl {
    top:70px;
    left:15px;
}
.matrix-pos-bl {
    bottom:70px;
    left:15px;
}
.matrix-cube {
    margin: 2px;
    width: 6px;
    height: 6px;
    background: rgba(20, 20, 20, 0.1);
}
.matrix-cube-mark {
    margin: 2px;
    width: 6px;
    height: 6px;
    background: rgba(0, 0, 0, 0.22);
}
.matrix-cube-red {
    margin: 2px;
    width: 6px;
    height: 6px;
    background: rgba(255, 0, 0, 0.32);
}

.xtext-wrapper {
    position: absolute;
    top:50px;
    right: 0px;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    word-spacing: 0.5em;
    font-size: 33px;

    /*border-top:2px solid rgba(255, 255, 255, 0.61);*/
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.84);*/
    /*border-left:1px solid rgba(255, 255, 255, 0.61);*/
    /*padding: 30px;*/
    /*padding-right: 0;*/
    /*background: rgba(255, 101, 0, 0.08);*/
    /*box-shadow: inset 4px 4px 4px 0px rgba(11, 11, 11, 0.44);*/
    /*border-radius: 34px 0 0 34px;*/
}
.xtext {
    writing-mode: vertical-rl;
}
.xtext span {
    display: block;
    color: rgba(0,0,0,0.13);
    font-size: 16px;
    padding: 10px 0px;
}
.xtext span b {
    font-size: 77px;
    color: rgba(255, 78, 78, 0.42);
    -webkit-text-stroke: 4px rgba(0, 0, 0, 0.2);
    text-stroke: 4px rgba(0, 0, 0, 0.2);
}
.xtext span i {
    color: rgba(0,0,0,0.13);
    font-size: 22px
}
.xtext-border {
    /*border-bottom: 1px solid rgba(255,0,0,0.54);*/
    /*border-left:1px solid rgba(255,0,0,0.51);*/
}
